body{
    background: url(img/master.jpg);
}
file_up{

    font-size: large ;
}

.left{
    display: inline-block;
}

.left img{
    height: 100px;
     border: 2px solid rgb(24, 230, 223);

}
.left .name{
    font-family: 'Balsamiq Sans', cursive;
    font-family: 'Montserrat', sans-serif;
    line-height: 25PX;
    font-size: 29px;
}



h1{
    font-family: 'Balsamiq Sans', cursive;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    text-decoration: underline;
}
.login{
    border: 2px solid orange;
    width: 45%;
    height: 70vh;
    margin-top: 347px;
    margin-left: 405px;
    align-items: center;
    text-align: center;
}
.login input{

    text-align: center;
    font-size: 25px;
    margin: 7px;
    padding: 4px;
    display: inline-block;
    
}
.file{
    text-align: center;
    align-items: center ;
    display: block;
    float: right;
}
.player{
    display: inline-block;
    position: absolute;
    top: 0px;

}
.player video{
    width: 750px;
    height : 315px;
    align-items: center;
    margin-left: 373px;
    
}


 